* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	line-height: 140%;
	&::selection {
		background-color: #721d37;
		color: #fff;
		opacity: 1;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 100%;
}
h1, h2 {
	font-weight: 400;
}
h2 {
	padding-bottom: 0.7vw;
	@media (max-width: 768px){
		padding-bottom: 2vw;
	}
}
h3, h4, h5, h6 {
	font-weight: 300;
}
ul {
	list-style: none;
}
p, li, span, div {
	font-size: 1vw;
	@media (max-width: 768px){
		font-size: 3vw;
	}
}
a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
a:focus,
a:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a {
	color: inherit
}



.resume {
	font-family: 'Roboto';
	font-style: normal;
	margin: 0 auto;
	.separator {
		height: 2vw;
		@media (max-width: 768px){
			height: 7vw;
		}
	}
	.border-left {
		border-left: 0.14vw solid #721d37;
	}
}

.header {
	color: #ffffff;
	* {
		&::selection {
			background-color: #ffffff;
			color: #721d37;
		}
	}
	&__inner {
		background-color: #721d37;
		padding: 2.14vw;
		@media (max-width: 768px){
			padding: 5vw;
		}
		h1 {
			font-size: 4vw;
			line-height: 100%;
			@media (max-width: 768px){
				text-align: center;
				font-size: 10vw;
			}
		}
		h2 {
			margin-top: 0.3vw;
			font-size: 3.2vw;
			line-height: 100%;
			display: inline-block;
			padding: 0 0 0.14vw 0;
			border-bottom: 0.14vw solid #ffffff;
			@media (max-width: 768px){
				display: block;
				text-align: center;
				font-size: 7vw;
				margin-top: 3vw;
				padding-bottom: 3vw;
			}
		}
	}
	&__first-row {
		display: flex;
		align-items: center;
		@media (max-width: 768px){
			flex-direction: column;
		}
	}
	&__photo {
		min-width: 21vw;
		min-height: 21vw;
		height: auto;
		border-radius: 5%;
		overflow: hidden;
		margin-right: 4vw;
		position: relative;
		@media (max-width: 768px){
			min-width: 90vw;
			min-height: 90vw;
			height: auto;
			margin-right: 0;
			margin-bottom: 5vw;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__name {

	}
	&__description {
		margin-top: 1.43vw;
		font-size: 1vw;
		letter-spacing: 0;
		text-align: justify;
		@media (max-width: 768px){
			margin-top: 5vw;
		}
		p {
			margin-top: 0.6vw;

		}
	}
}

.grid {
	margin-top: 2.86vw;
	margin-bottom: 2.86vw;
	display: grid;
	grid-template: 1fr / minmax(40%, auto) minmax(60%, auto);
	color: #721d37;
	padding: 2.14vw;
	@media (max-width: 768px){
		grid-template: 1fr / 1fr;
		padding: 5vw;
		margin-top: 0;
		margin-bottom: 5vw;
	}
	h2 {
		font-size: 3vw;
		border-bottom: 0.14vw solid #721d37;
		@media (max-width: 768px){
			font-size: 7vw;
		}
	}
	h3 {
		font-size: 2vw;
		@media (max-width: 768px){
			font-size: 5vw;
		}
	}
	h4 {
		font-size: 1.4vw;
		margin-top: 0.5vw;
		@media (max-width: 768px){
			margin-top: 3vw;
			font-size: 4vw;
		}
	}
	h5 {
		font-size: 1.2vw;
		@media (max-width: 768px){
			font-size: 3vw;
		}
	}
	h6 {
		font-size: 1vw;
		@media (max-width: 768px){
			font-size: 3vw;
		}
	}
	&__item {
		&:not(:first-child) {
			margin-top: 4.29vw;
			@media (max-width: 768px){
				margin-top: 10vw;
			}
		}
	}
	&__right {
		margin-left: 4.29vw;
		@media (max-width: 768px){
			margin-left: 0;
			margin-top: 10vw;
		}
	}
	.period {
		margin-top: 0.36vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		opacity: 0.7;
		font-style: italic;
		&__date {}

		&__place {}
	}
	.description {
		margin-top: 0.5vw;
		@media (max-width: 768px){
			margin-top: 3vw;
		}
		li {
			padding-left: 1.07vw;
			margin-top: 0.5vw;
			position: relative;
			@media (max-width: 768px){
				margin-top: 3vw;
			}
			&::before{
				content:'';
				position: absolute;
				top: 0.43vw;
				left: 0;
				width: 0.29vw;
				height: 0.29vw;
				border: 0.07vw solid #721d37;
				border-radius: 50%;
			}
		}
	}
}

.grid-left {
	@media (max-width: 768px){
		display: flex;
		flex-direction: column;
	}
}

.social {
	&__link {
		display: flex;
		align-items: center;
		&:not(:first-child) {
			margin-top: 1.07vw;
			@media (max-width: 768px){
				margin-top: 3vw;
			}
		}
		img {
			width: 2vw;
			height: 2vw;
			@media (max-width: 768px){
				width: 5vw;
				height: 5vw;
			}
		}
		span {
			display: inline-block;
			margin-left: 0.36vw;
		}
	}
}


.skills {
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1.2vw;
	}
	span {
		display: inline-block;
		background-color: #b88e9b;
		border-radius: 0.43vw;
		padding: 0.36vw 0.71vw;
		color: #ffffff;
		margin-top: 0.71vw;
		margin-left: 0.71vw;
		@media (max-width: 768px){
			padding: 1vw 1.5vw;
			border-radius: 1.5vw;
			margin-top: 1.5vw;
			margin-left: 1.5vw;
		}
	}
}
.skills-block {
	ul {
		margin-top: 0.5vw;
		@media (max-width: 768px){
			margin-top: 3vw;
		}
		li {
			margin-top: 0.5vw;
			padding-left: 0.5vw;
			@media (max-width: 768px){
				margin-top: 3vw;
				
			}
		}
	}
}
.soft-skills {
}

.languages {
	&__row {
		display: flex;
		gap: 40px;
		@media (max-width: 768px){
			display: block;
		}
	}
	.language {
		line-height: 0;
		margin-top: 1vw;
		@media (max-width: 768px){
			margin-top: 3px;
		}
		>span {
			@media (max-width: 768px){
				display: inline-block;
				margin-top: 3vw;
				font-size: 4vw;
			}
		}
		&__points {
			margin-top: 0.6vw;
			margin-left: -0.71vw;
			line-height: 0;
			display: flex;
			@media (max-width: 768px){
				margin-top: 1vw;
			}
			span {
				display: inline-block;
				width: 1.43vw;
				height: 1.43vw;
				border: 0.07vw solid #721d37;
				border-radius: 50%;
				margin-left: 1vw;
				@media (max-width: 768px){
					width: 5vw;
					height: 5vw;
					margin-left: 3vw;
				}
			}
		}
	}
	.rus {
		.language__points {
			span {
				background-color: #721d37;
			}
		}
	}
	.eng {
		.language__points {
			span {
				&:nth-child(-n + 4){
					background-color: #721d37;
				}
			}
		}
	}
}


.border-block {
	&__item {
		padding-left: 2.14vw;
		&:last-child{
			h3 {
				&::after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 0.14vw;
					height: 50%;
					background-color: #721d37;
				}
			}
		}
	}
	h3 {
		margin-left: -2.14vw;
		padding-left: 2.14vw;
		position: relative;
		&::before{
			content:'';
			width: 1.29vw;
			height: 0.14vw;
			position: absolute;
			top: 50%;
			left: 0;
			background-color: #721d37;
			transform: translate(0, -50%);
		}
	}
}
